div.ember-view {
    height: 100% !important;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
}

#wheel {
    -webkit-transform-origin: 0 44px;
    -moz-transform-origin: 0 44px;
    -ms-transform-origin: 0 44px;
    transform-origin: 0 44px;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    top: 30px;
/*    margin-top: -45px;*/
    /*left: 50%;*/
    position: absolute;
    z-index: 100;
}
#wheel img, #wheel div {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; }

#sprocket{
    /*@include rotation(190deg);*/
    -webkit-transform-origin: 0 44px;
    -moz-transform-origin: 0 44px;
    -ms-transform-origin: 0 44px;
    transform-origin: 0 44px;
    width: 241px;
    margin: 0;
    padding: 0; }
#sprocket > li.blades {
    -webkit-transform-origin: 0 44px;
    -moz-transform-origin: 0 44px;
    -ms-transform-origin: 0 44px;
    transform-origin: 0 44px;
    text-align: right;
    position: absolute;
    margin: 0;
    padding: 0;
    display: none; }
#sprocket > li.blades div {
    background-repeat: no-repeat;
    height: 85px;
    width: 241px; }
#sprocket > li.blades img.bg {
    position: absolute;
    top: 0;
    left: 0; }
#sprocket > li.blades img.active {
    display: none;
    position: relative; }

.core {
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-top-left-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    -moz-border-radius-topleft: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    cursor: pointer;
    width: 77px;
    height: 77px;
    /* background-color: yellow;*/
    padding: 1px;
    position: absolute;
    top: 50%;
    margin-top: 3px;
    margin-left: -38px; }
.core .xinner-wheel {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    xbackground-image: url(../images/inner-wheel-half.png);
    width: 157px;
    height: 155px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -40px;
    margin-left: -40px;
    z-index: 9;
    background-size: 79px 155px;
}
.core .wheel-btn {
    -webkit-border-top-right-radius: 40px;
    -webkit-border-bottom-right-radius: 40px;
    -webkit-border-bottom-left-radius: 40px;
    -webkit-border-top-left-radius: 40px;
    -moz-border-radius-topright: 40px;
    -moz-border-radius-bottomright: 40px;
    -moz-border-radius-bottomleft: 40px;
    -moz-border-radius-topleft: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #000;
    background-image: url(../images/button.png);
    width: 77px;
    height: 77px;
    z-index: 10;
    position: absolute;
    cursor: pointer; }
.core .wheel-btn:active {
    background-image: url(../images/button-clicked.png); }



/* category */


.inner-wheel ul{
    /*@include rotation(190deg);*/
    -webkit-transform-origin: 0 44px;
    -moz-transform-origin: 0 44px;
    -ms-transform-origin: 0 44px;
    transform-origin: 0 44px;
    width: 241px;
    margin: 0;
    padding: 0;
    left: 39.5px;
    position: absolute;
    top: -4.5px;
}
.inner-wheel ul li{
    -webkit-transform-origin: 0 44px;
    -moz-transform-origin: 0 44px;
    -ms-transform-origin: 0 44px;
    transform-origin: 0 44px;
    text-align: right;
    position: absolute;
    margin: 0;
    padding: 0;
    display: none;
    text-align: left;
    padding-left: 70px;
    width: 130px;
    color: #56cbff;
}
.inner-wheel ul li div {
    background-repeat: no-repeat;
    height: 85px;
    width: 100%;
    line-height: 85px;
    font-size: 14px;
}

#sprocket > li.blades img.active {
    height: 80px;
    /*77px;*/
    left: 0;
    position: absolute !important;
    top: 1px;
    /*0;*/
    width: 258px;
}
#sprocket > li.blades img.bg {
    height: 77px;
    left: 0;
    position: absolute;
    top: 4px;
    /*2px;*/
    width: 241px;
}

/* Wheel Popup*/
.wheelModal .modal-dialog{
    width: 330px;
    top: 50%;
    margin-top: -181px;
    position: absolute;
    left: 50%;
    margin-left: -165px;
}
.wheelModal .modal-content {
    width: 333px;
    background: none;
}
.wheelModal .nav-tabs {
    border-bottom: none;
    margin: 0 3px;
}
.wheelModal .tab-content {
    width: 330px;
    height: 362px;
    background-image: url('../assets/images/blades/edit_wheel_bg.png');
}
.wheelModal .modal-body { width: 330px; padding:0; }
.wheelModal .nav-tabs li { margin-left: 0; }
.wheelModal #wheelItems, .wheelModal #innerCategories{ max-height: 362px; padding: 10px; }
.wheelModal .wheelItem{
    height: 42px;
    width: 300px;
    margin: 0 10px;
    line-height: 40px;
    border-bottom: 2px solid #404751 ;
    padding-right: 30px;
    background: url('../assets/images/blades/edit_delete.png') no-repeat 0 50%;
    font-weight: bold;
    font-family: arial,sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.wheelModal .wheelItem.active{ background: url('../assets/images/blades/edit_active.png') no-repeat 0 50%; }
.blades { cursor: pointer; }